<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<meta name="google-signin-client_id" content="468447095824-6q9d0pr3ku48lmg623hi7j6n1kisf6o6.apps.googleusercontent.com">
    
    <title>Yearbook Signings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mobirise2.css">
    <link rel="stylesheet" href="../css/mobirise-icons.css">
    <link rel="stylesheet" href="../css/bootstrap-grid.min.css">
    <!--<link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">-->
    <!--<link rel="stylesheet" href="assets/dropdown/css/style.css">-->
    <!--<link rel="stylesheet" href="assets/socicon/css/styles.css">-->
    <!--<link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">-->
    <!--<link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">-->
    <!--<link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">-->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/mbr-additional.css" type="text/css">

</head>
<body>


  <section class="menu cid-rv2OknxyGE" once="menu" id="menu01-2t">

    

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-5" href="index.html">Yearbook Signings</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="https://yearbook-signings.sites.tjhsst.edu/" aria-expanded="false">Public Pages</a>
                </li>
                {{!--<li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4"  aria-expanded="false" data-toggle="dropdown-submenu">--}}

                {{!--        Live Demo</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="portfolio.html" aria-expanded="false">Portfolio Demo</a><a class="text-white dropdown-item display-4" href="creativestudio.html" aria-expanded="false">Creative Studio Demo</a><a class="text-white dropdown-item display-4" href="craftshop.html" aria-expanded="false">Craft Shop Demo</a></div></li>--}}
                {{!--<li class="nav-item dropdown"><a class="nav-link link text-white dropdown-toggle display-4" href="https://mobirise.co" data-toggle="dropdown-submenu" aria-expanded="true">--}}

                {{!--        Live Demo Blocks</a><div class="dropdown-menu"><a class="text-white dropdown-item display-4" href="headers.html">Headers / Features / Content</a><a class="text-white dropdown-item display-4" href="images.html" aria-expanded="false">Countries / Images / Progress</a><a class="text-white dropdown-item display-4" href="info.html" aria-expanded="false">Info / Countdowns / Pricing</a><a class="text-white dropdown-item display-4" href="video.html" aria-expanded="false">Video / Accordions / Tabs</a><a class="text-white dropdown-item display-4" href="clients.html" aria-expanded="false">Clients / Form / Social / Shop</a><a class="text-white dropdown-item display-4" href="maps.html" aria-expanded="false">Testimonials / Maps / Footers</a></div></li>--}}
                {{!--<li class="nav-item">--}}
                {{!--    <a class="nav-link link text-white display-4">--}}
                {{!--    </a>--}}
                {{!--</li>--}}
            </ul>
            <div style = "font-size:20px" class = "" id="g-signin2"> </div>
        </div>
    </nav>
    </section>
    
    <section class="header1 cid-rv2OjPYMPA mbr-parallax-background" id="header02-2s">
    
        
    
        <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(245, 245, 220);">
        </div>
    
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-10 align-center">
                    <h1 class="mbr-section-title mbr-semibold pb-3 mbr-fonts-style display-2">2019-2020 Yearbook Signings</h1>
                    
                    <p class="mbr-text pb-3 mbr-fonts-style display-7">
                        Sign up to get your yearbook pages and leave messages for your friends! </p>
                    <div class="mbr-section-btn"><a id="placeholder" class="btn btn-md btn-primary-outline display-4" >REGISTER WITH GOOGLE</a></div>
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="features1 cid-rv3cdzMQO1" id="features011-66">
    
        
    
        
        <div class="container">
            <div class="row">
    
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-2 mbr-fonts-style display-5">
                            Outreach</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Make an account to share yearbook pages with friends. </p>
                    </div>
                </div>
    
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mobi-mbri-idea mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-2 mbr-fonts-style display-5">
                            Design</h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Craft handwritten messages and keep track of which yearbooks you've signed 
                        </p>
                    </div>
                </div>
    
                <div class="card p-3 col-12 col-md-6 col-lg-4">
                    <div class="card-img pb-3">
                        <span class="mbr-iconfont mobi-mbri-smile-face mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-2 mbr-fonts-style display-5">
                            Publish
                        </h4>
                        <p class="mbr-text mbr-fonts-style display-7">
                            Easily print pages to paste into your yearbook
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    </section>
    <script>
    function onSuccess(googleUser) {
        console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
        var profile = googleUser.getBasicProfile();
        var myUserEntity = {};
        myUserEntity.Id = profile.getId();
        myUserEntity.Name = profile.getName();
        
        //Store the entity object in sessionStorage where it will be accessible from all pages of your site.
       // document.getElementById("g-signin2").innerHTML = "";
        document.getElementById("g-signin2").innerHTML = myUserEntity.Name;
        document.getElementById("g-signin2").className = "nav-item dropdown nav-link link text-white dropdown-toggle display-4";
        document.getElementById("placeholder").innerHTML = "Access My Yearbook Pages";
        sessionStorage.setItem('myUserEntity',JSON.stringify(myUserEntity));

    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      if(sessionStorage.getItem('myUserEntity') == null){
          gapi.signin2.render('g-signin2', {
            'scope': 'profile email',
            'width': 240,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': onSuccess,
            'onfailure': onFailure
          });
      } else {
          var userEntity = {};
          userEntity = JSON.parse(sessionStorage.getItem('myUserEntity'));
          document.getElementById("g-signin2").innerHTML = userEntity.Name;
      }
    }
    </script>
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </body>
 
</html>


